@font-face {
  font-family: f1;
  src: url(./fonts/f1.ttf);
}

@font-face {
  font-family: Future;
  src: url(./fonts/Futura-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}
#nav{
  width: 100%;
  position: fixed;
  z-index: 100000000000000000000;
  padding: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}
#nav #nav-part2{
  display: flex;
  align-items: center;
  justify-content: center;
}
#nav #nav-part1{
  /* background-color: red; */
  height: 82px;
  display: flex;
  flex-direction: column;
  overflow: hidden;


}
#nav #nav-part1 svg{
  display: block;
  width: 100%;

}
#nav #nav-part2 #links a{
  text-decoration: none;
  color: #4c4343;
  font-weight: 100;
  font-size: 13px;
margin-right: 70px;
text-transform: uppercase;
}
#nav #nav-part2 #links{
  padding:10px;
}
#nav #nav-part2 #icons{
  background-color:#FFFFFF;
  border-radius: 50px;


  padding:10px;

}
#nav #nav-part2 #icons i{
  /* margin-left:70px; */
  height: 100px;
}
#cursor{
  height: 250px;
  width: 250px;
  background-color: blanchedalmond;
  border-radius: 50%;
  position: fixed;
    transform: translate(-50%, -50%) scale(0);
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: f1;

}

*::selection {
  color: white;
  background-color: black;
}

#page1 {
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 0 1.3vw;
  padding-top: 20vh;


}

#page1 h1 {
  font-size: 16.16vw;
  font-weight: 900;
  font-family: Futura;
  text-transform: uppercase;
  line-height: 14vw;
  letter-spacing: -1vw;


}

#page1 #video-container {
  margin-top: 2.2vw;
  height: 96vh;
  background-color: rgb(0, 0, 0);
  position: relative;



}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;

}

#video-container #play {
  padding: 3vw 2.3vw;
  background-color: black;
  color: #fff;
  font-size: 1.3vw;
  text-transform: uppercase;
  font-family: Futura;
  position: fixed;
  border-radius: 50%;
  font-weight: 500;
  opacity: 0;
  scale: 0;
}

#page1 #line {
  margin-top: 4vw;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5vw;
  border-bottom: 1px solid black;
  margin-bottom: -2vw;

}

#page1 #line h4 {
  font-family: url(./fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.ttf);
  font-size: .8vw;
  font-weight: 100;
  opacity: .9;

}

/* page 1 ends here and page 2 starts from here */
#page2 {
  padding: 3vw 1.3vw;
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;

}

#page2 .elem {
  height: 100%;
  width: 32.65%;
  /* background-color: red; */
  overflow: hidden;
  position: relative;

}

#page2 .elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* position: relative; */
  /* scale: 1.1; */
}

#page2 .elem #box {
  position: absolute;
  top: 46%;
  left: 20%;
  display: flex;
  flex-direction: column;

  /* background-color: red; */
  min-height: 3vw;
  width: 60%;
}

#page2 .elem #box #box1 {
  height: 3vw;
  width: 100%;
  border-radius: 35px;
  position: relative;
  cursor: pointer;
  z-index: 12;
  display: flex;
  justify-content: space-around;
  align-items: center;


}

#page2 .elem #box #box1 .dot {
  height: .5vw;
  width: .5vw;
  border-radius: 50%;
  background-color: black;
  /* margin: 0 1vw; */
}

#page2 .elem #box #box2 {

  z-index: -10;
  margin-top: 1.74vw;
  position: absolute;
  top: -.5vw;
  height: 14vw;
  width: 100%;
  border-end-end-radius: 30px;
  border-end-start-radius: 30px;
  display: none;
  cursor: pointer;
  transform: translateY(-20px);
  /* Initial position for smooth movement */
  transition: 1s ease;
  /* Adjust duration and timing function as needed */



}

#page2 .elem #box #box2 .inside_box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#page2 .elem #box #box2 .inside_box img {
  height: 9vw;

}

#page2 .elem #box #box2 .inside_box .left & .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

#page2 .elem #box #box2 .inside_box p {
  font-size: .7vw;
  font-weight: 100;
  opacity: .9;
  display: flex;
  align-items: center;
  margin-left: 1vw;

}

#page2 .elem #box #box1:hover #box2 {
  z-index: -2;
  overflow: hidden;
  display: block;
  opacity: 1;
  transform: translateY(0);
  /* Scale back to original size */
}




/* page 3 starts from here */
#page3 {
  min-height: 120vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

}
.child{
  height: 55vh;
  width: 38vw;
  /* background-color: red; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;


}
.child img{
  height: 100%;


}













/* responsive design */
@media(max-width:600px) {
  #page1 {
    min-height: 70vh;
    width: 100%;
    padding: 0 3vw;
    padding-top: 25vh;
  }

  #page1 h1 {
    font-size: 15.5vw;
    /* line-height: 14vw; */
    letter-spacing: -3px;
  }

  #page1 #video-container {
    height: 25vh;
    margin-top: 3vw;

  }

  #video-container #play {
    font-size: 4.5vw;
    padding: 12.5vw 10.2vw;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 1;
    scale: 1;
    top: 50%;
    left: 50%;
  }

  #page1 #line h4 {
    font-size: 2vh;
  }

  #page1 #line {
    margin-top: 4vh;
    height: 3vh;
    margin-bottom: .8vh;

  }

  #page2 {
    flex-direction: column;
    padding: 5vw 3vw;
  }

  #page2 .elem {
    height: 90vh;
    width: 100%;
    margin-bottom: 3vw;

  }

  #page2 .elem img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
  }

  #page2 .elem #box #box1:hover #box2 {
    display: none;
  }

  #page2 .elem #box #box1 {
    margin-top: 3vh;
    height: 8vh;
    width: 100%;

  }

  #page2 .elem #box #box1 .dot {
    height: .9vh;
    width: .9vh;

  }

  #page2 .elem #box {
    /* background-color: red; */
    width: 90%;
    left: 5%;
  }

}